
.collapse ul li {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.nav-item a:hover {
    transition: 0.5s;
}
.nav-item a:hover {
    color: yellow;
}